<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Select a Playlist to Transfer:</h2>
        <ul class="playlist-list">
            {% for playlist in playlists %}
                <li class="playlist-item">
                    <a href="/transfer_playlist_soundcloud/{{ playlist.id }}" class="playlist-link">
                        <span class="playlist-name">{{ playlist.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>